@property --layout-align {
  syntax: '*';
  inherits: false;
}

@property --layout-align-tablet {
  syntax: '*';
  inherits: false;
}

@property --layout-align-laptop {
  syntax: '*';
  inherits: false;
}

@property --layout-align-desktop {
  syntax: '*';
  inherits: false;
}

@property --layout-align-actual {
  syntax: 'start | center | end | normal';
  inherits: false;
  initial-value: normal;
}

@property --layout-align-y {
  syntax: '*';
  inherits: false;
}

@property --layout-align-y-tablet {
  syntax: '*';
  inherits: false;
}

@property --layout-align-y-laptop {
  syntax: '*';
  inherits: false;
}

@property --layout-align-y-desktop {
  syntax: '*';
  inherits: false;
}

@property --layout-align-y-actual {
  syntax: 'start | center | end | normal';
  inherits: false;
  initial-value: normal;
}

@layer layout.init {
  [data-aligned] {
    --layout-align-actual: var(--layout-align);
    --layout-align-y-actual: var(--layout-align-y);

    @container style(--screen-gte-tablet: true) {
      --layout-align-tablet: var(--layout-align);
      --layout-align-actual: var(--layout-align-tablet);
      --layout-align-y-tablet: var(--layout-align-y);
      --layout-align-y-actual: var(--layout-align-y-tablet);
    }

    @container style(--screen-gte-laptop: true) {
      --layout-align-laptop: var(--layout-align-tablet);
      --layout-align-actual: var(--layout-align-laptop);
      --layout-align-y-laptop: var(--layout-align-y-tablet);
      --layout-align-y-actual: var(--layout-align-y-laptop);
    }

    @container style(--screen-eq-desktop: true) {
      --layout-align-desktop: var(--layout-align-laptop);
      --layout-align-actual: var(--layout-align-desktop);
      --layout-align-y-desktop: var(--layout-align-y-laptop);
      --layout-align-y-actual: var(--layout-align-y-desktop);
    }
  }
}

@layer layout.trait {
  [data-aligned~='self'] {
    place-self: var(--layout-align-y-actual) var(--layout-align-actual);
  }

  [data-aligned~='column'] {
    align-items: var(--layout-align-actual);
    justify-content: var(--layout-align-y-actual);
  }

  [data-aligned~='grid'] {
    place-items: var(--layout-align-y-actual) var(--layout-align-actual);
  }
}
