@layer reset, env, property, primitive, layout, app;
@import './reset.css';
@import url('env.css');
@import url('property.css');
@import url('primitive.css');

@layer layout {
  @layer init {
  }
  @layer component {
  }
  @layer trait {
  }
  @layer override {
  }
}

@layer app {
  @layer component {
  }
}

@property --debug-number {
  inherits: false;
  initial-value: 0;
  syntax: '<number>';
}
@property --debug-number-2 {
  inherits: false;
  initial-value: 0;
  syntax: '<number>';
}
