@property --c-polarity-force-lighter {
  inherits: false;
  initial-value: -2;
  syntax: '<number>';
}
@property --c-polarity-prefer-lighter {
  inherits: false;
  initial-value: -1;
  syntax: '<number>';
}
@property --c-polarity-auto {
  inherits: false;
  initial-value: 0;
  syntax: '<number>';
}
@property --c-polarity-prefer-darker {
  inherits: false;
  initial-value: 1;
  syntax: '<number>';
}
@property --c-polarity-force-darker {
  inherits: false;
  initial-value: 2;
  syntax: '<number>';
}
@property --hue {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --chroma {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --lightness {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --lightness-fallback {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --lightness-p0 {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --lightness-p1 {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --lightness-p2 {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --lightness-p3 {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --contrast {
  inherits: false;
  syntax: '*';
}
@property --polarity {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-hue {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-chroma {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-lightness-c1 {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-lightness-c2 {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-lightness-c3 {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-lightness-base {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-lightness-normal-value {
  inherits: false;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-lightness-reverse-value {
  inherits: false;
  initial-value: 30;
  syntax: '<number>';
}
@property --i-lightness-normal {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-lightness-reverse {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --apca-t {
  inherits: false;
  initial-value: 0.06;
  syntax: '<number>';
}
@property --apca-e-nt {
  inherits: false;
  initial-value: 0.55;
  syntax: '<number>';
}
@property --apca-e-nb {
  inherits: false;
  initial-value: 0.62;
  syntax: '<number>';
}
@property --apca-e-rt {
  inherits: false;
  initial-value: 0.57;
  syntax: '<number>';
}
@property --apca-e-rb {
  inherits: false;
  initial-value: 0.65;
  syntax: '<number>';
}
@property --apca-s-n {
  inherits: false;
  initial-value: 1.14;
  syntax: '<number>';
}
@property --apca-s-r {
  inherits: false;
  initial-value: 1.2;
  syntax: '<number>';
}

@layer property {
  .color {
    --i-hue: max(0, mod(var(--hue), 360));
    --i-chroma: clamp(0, var(--chroma), 100);
    --i-lightness-c1: calc(-3 * var(--lightness-p0) + 3 * var(--lightness-p1));
    --i-lightness-c2: calc(3 * var(--lightness-p0) - 6 * var(--lightness-p1) + 3 * var(--lightness-p2));
    --i-lightness-c3: calc(
      -1 * var(--lightness-p0) + 3 * var(--lightness-p1) - 3 * var(--lightness-p2) + var(--lightness-p3)
    );
    --i-lightness-base: clamp(
      0,
      var(--lightness-p0) + var(--i-lightness-c1) * var(--lightness) + var(--i-lightness-c2) *
        pow(var(--lightness), 2) + var(--i-lightness-c3) * pow(var(--lightness), 3),
      1
    );
    --i-lightness-normal-value: max(
      var(--i-lightness-base),
      min(var(--contrast) / var(--apca-s-n), var(--apca-t)) / var(--apca-t) *
        pow(
          max(0, var(--contrast) / var(--apca-s-n)) + pow(var(--i-lightness-base), var(--apca-e-nb)),
          1 / var(--apca-e-nt)
        ) +
        (1 - min(var(--contrast) / var(--apca-s-n), var(--apca-t)) / var(--apca-t)) *
        (var(--i-lightness-base) + var(--contrast) / var(--apca-s-n))
    );
    --i-lightness-reverse-value: calc(
      min(1, round(up, calc(var(--apca-s-r) * pow(var(--i-lightness-base), var(--apca-e-rb)) - var(--contrast)))) *
        (
          min(var(--contrast) / var(--apca-s-r), var(--apca-t)) / var(--apca-t) *
            pow(
              max(pow(var(--i-lightness-base), var(--apca-e-rb)) - var(--contrast) / var(--apca-s-r), 0),
              1 / var(--apca-e-rt)
            ) +
            (1 - min(var(--contrast) / var(--apca-s-r), var(--apca-t)) / var(--apca-t)) * var(--i-lightness-base)
        ) +
        (
          1 -
            min(1, round(up, calc(var(--apca-s-r) * pow(var(--i-lightness-base), var(--apca-e-rb)) - var(--contrast))))
        ) *
        (var(--apca-s-r) * pow(var(--i-lightness-base), var(--apca-e-rb)) - var(--contrast))
    );
    --i-lightness-normal: calc(
      round(down, calc(exp(-100000 * max(var(--i-lightness-normal-value) - 1, 0)))) * var(--i-lightness-normal-value)
    );
    --i-lightness-reverse: calc(
      round(down, calc(exp(-100000 * max(var(--i-lightness-reverse-value) * -1, 0)))) * var(--i-lightness-reverse-value)
    );
  }
}
