@property --polarity-auto {
  inherits: false;
  initial-value: 0;
  syntax: '<number>';
}
@property --polarity-force-light {
  inherits: false;
  initial-value: 1;
  syntax: '<number>';
}
@property --polarity-prefer-light {
  inherits: false;
  initial-value: 2;
  syntax: '<number>';
}
@property --polarity-force-dark {
  inherits: false;
  initial-value: 3;
  syntax: '<number>';
}
@property --polarity-prefer-dark {
  inherits: false;
  initial-value: 4;
  syntax: '<number>';
}
@property --hue {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --chroma {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --lightness {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --lightness-p0 {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --lightness-p1 {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --lightness-p2 {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --lightness-p3 {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --contrast {
  inherits: false;
  syntax: '*';
}
@property --polarity {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-polarity-phase {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-hue {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-chroma {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-lightness {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-polarity-auto {
  inherits: false;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-polarity-force-light {
  inherits: false;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-polarity-prefer-light {
  inherits: false;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-polarity-force-dark {
  inherits: false;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-polarity-phase-dark {
  inherits: false;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-polarity-prefer-dark {
  inherits: false;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-contrast-normal {
  inherits: false;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-contrast-reverse {
  inherits: false;
  initial-value: 30;
  syntax: '<number>';
}
@property --i-contrast-normal-exists {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-contrast-reverse-exists {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-contrast-lightness {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --apca-t {
  inherits: false;
  initial-value: 0.06;
  syntax: '<number>';
}
@property --apca-e-nt {
  inherits: false;
  initial-value: 0.55;
  syntax: '<number>';
}
@property --apca-e-nb {
  inherits: false;
  initial-value: 0.62;
  syntax: '<number>';
}
@property --apca-e-rt {
  inherits: false;
  initial-value: 0.57;
  syntax: '<number>';
}
@property --apca-e-rb {
  inherits: false;
  initial-value: 0.65;
  syntax: '<number>';
}
@property --apca-s-n {
  inherits: false;
  initial-value: 1.14;
  syntax: '<number>';
}
@property --apca-s-r {
  inherits: false;
  initial-value: 1.2;
  syntax: '<number>';
}
@property --o-color {
  inherits: false;
  initial-value: transparent;
  syntax: '<color>';
}
@property --o-color-contrast {
  inherits: false;
  initial-value: transparent;
  syntax: '<color>';
}

@layer property {
  .color {
    --i-hue: max(0, mod(var(--hue), 360));
    --i-chroma: clamp(0, var(--chroma), 100);
    --i-lightness: clamp(
      0,
      var(--lightness-p0) + (-3 * var(--lightness-p0) + 3 * var(--lightness-p1)) * var(--lightness) +
        (3 * var(--lightness-p0) - 6 * var(--lightness-p1) + 3 * var(--lightness-p2)) * pow(var(--lightness), 2) +
        (-1 * var(--lightness-p0) + 3 * var(--lightness-p1) - 3 * var(--lightness-p2) + var(--lightness-p3)) *
        pow(var(--lightness), 3),
      1
    );
    --o-color: oklch(calc(var(--i-lightness) * 100%) calc(var(--i-chroma) * 1%) calc(var(--i-hue) * 1deg) / 1);

    &.contrast {
      --i-polarity-auto: exp(-100000 * abs(calc(var(--polarity-auto) - var(--polarity))));
      --i-polarity-force-light: exp(-100000 * abs(calc(var(--polarity-force-light) - var(--polarity))));
      --i-polarity-prefer-light: exp(-100000 * abs(calc(var(--polarity-prefer-light) - var(--polarity))));
      --i-polarity-force-dark: exp(-100000 * abs(calc(var(--polarity-force-dark) - var(--polarity))));
      --i-polarity-prefer-dark: exp(-100000 * abs(calc(var(--polarity-prefer-dark) - var(--polarity))));
      --i-contrast-normal: max(
        var(--i-lightness),
        min(var(--contrast) / var(--apca-s-n), var(--apca-t)) / var(--apca-t) *
          pow(
            max(0, var(--contrast) / var(--apca-s-n)) + pow(var(--i-lightness), var(--apca-e-nb)),
            1 / var(--apca-e-nt)
          ) +
          (1 - min(var(--contrast) / var(--apca-s-n), var(--apca-t)) / var(--apca-t)) *
          (var(--i-lightness) + var(--contrast) / var(--apca-s-n))
      );
      --i-contrast-reverse: round(
        calc(
          min(1, round(up, calc(var(--apca-s-r) * pow(var(--i-lightness), var(--apca-e-rb)) - var(--contrast)))) *
            (
              min(var(--contrast) / var(--apca-s-r), var(--apca-t)) / var(--apca-t) *
                pow(
                  max(pow(var(--i-lightness), var(--apca-e-rb)) - var(--contrast) / var(--apca-s-r), 0),
                  1 / var(--apca-e-rt)
                ) +
                (1 - min(var(--contrast) / var(--apca-s-r), var(--apca-t)) / var(--apca-t)) * var(--i-lightness)
            ) +
            (
              1 - min(1, round(up, calc(var(--apca-s-r) * pow(var(--i-lightness), var(--apca-e-rb)) - var(--contrast))))
            ) *
            (var(--apca-s-r) * pow(var(--i-lightness), var(--apca-e-rb)) - var(--contrast))
        ),
        0.001
      );
      --i-contrast-normal-exists: calc(round(down, calc(exp(-100000 * max(var(--i-contrast-normal) - 1, 0)))));
      --i-contrast-reverse-exists: calc(round(down, calc(exp(-100000 * max(var(--i-contrast-reverse) * -1, 0)))));
      --i-contrast-lightness: clamp(
        0,
        (
            var(--i-polarity-force-dark) + var(--i-polarity-prefer-dark) * var(--i-contrast-reverse-exists) +
              var(--i-polarity-prefer-dark) * (1 - var(--i-contrast-reverse-exists)) *
              (1 - var(--i-contrast-normal-exists)) + var(--i-polarity-auto) * var(--i-polarity-phase-dark) *
              var(--i-contrast-reverse-exists) + var(--i-polarity-auto) * var(--i-polarity-phase-dark) *
              (1 - var(--i-contrast-reverse-exists)) * (1 - var(--i-contrast-normal-exists)) + var(--i-polarity-auto) *
              var(--i-polarity-phase-light) * (1 - var(--i-contrast-normal-exists))
          ) *
          var(--i-contrast-reverse) +
          (
            var(--i-polarity-force-light) + var(--i-polarity-prefer-light) * var(--i-contrast-normal-exists) +
              var(--i-polarity-prefer-light) * (1 - var(--i-contrast-normal-exists)) *
              (1 - var(--i-contrast-reverse-exists)) + var(--i-polarity-auto) * var(--i-polarity-phase-light) *
              var(--i-contrast-normal-exists) + var(--i-polarity-auto) * var(--i-polarity-phase-light) *
              (1 - var(--i-contrast-normal-exists)) * (1 - var(--i-contrast-reverse-exists)) + var(--i-polarity-auto) *
              var(--i-polarity-phase-dark) * (1 - var(--i-contrast-reverse-exists))
          ) *
          var(--i-contrast-normal),
        1
      );
      --debug-number: calc(var(--i-contrast-reverse-exists));
      --o-color-contrast: oklch(
        calc(var(--i-contrast-lightness) * 100%) calc(var(--i-chroma) * 1%) calc(var(--i-hue) * 1deg) / 1
      );

      @container style(--mode-light: true) {
        --i-polarity-phase-light: 1;
        --i-polarity-phase-dark: 0;
      }

      @container style(--mode-dark: true) {
        --i-polarity-phase-light: 0;
        --i-polarity-phase-dark: 1;
      }
    }
  }
}
