@property --c-contrast-direction-force-lighter {
  inherits: false;
  initial-value: -2;
  syntax: '<number>';
}
@property --c-contrast-direction-prefer-lighter {
  inherits: false;
  initial-value: -1;
  syntax: '<number>';
}
@property --c-contrast-direction-auto {
  inherits: false;
  initial-value: 0;
  syntax: '<number>';
}
@property --c-contrast-direction-prefer-darker {
  inherits: false;
  initial-value: 1;
  syntax: '<number>';
}
@property --c-contrast-direction-force-darker {
  inherits: false;
  initial-value: 2;
  syntax: '<number>';
}
@property --hue {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --chroma {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --lightness {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --lightness-fallback {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --lightness-p0 {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --lightness-p1 {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --lightness-p2 {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --lightness-p3 {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --contrast {
  inherits: false;
  syntax: '*';
}
@property --contrast-direction {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-hue {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-chroma {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-lightness-normalized {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-lightness-fallback {
  inherits: true;
  initial-value: 1;
  syntax: '<number>';
}
@property --i-lightness-p0 {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-lightness-p1 {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-lightness-p2 {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-lightness-p3 {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-lightness-lighter {
  inherits: false;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-lightness-darker {
  inherits: false;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-lightness-lighter-exists {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-lightness-darker-exists {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-lightness {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-contrast-direction {
  inherits: false;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-contrast-direction-force-lighter {
  inherits: false;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-contrast-direction-prefer-lighter {
  inherits: false;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-contrast-direction-auto {
  inherits: false;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-contrast-direction-prefer-darker {
  inherits: false;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-contrast-direction-force-darker {
  inherits: false;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-contrast-scaled {
  inherits: false;
  initial-value: 0;
  syntax: '<number>';
}
@property --i-contrast-sign {
  inherits: false;
  initial-value: 0;
  syntax: '<number>';
}
@property --o-color {
  inherits: false;
  initial-value: transparent;
  syntax: '<color>';
}
@property --o-color-base {
  inherits: false;
  initial-value: transparent;
  syntax: '<color>';
}

@layer property {
  .color {
    --i-hue: max(0, mod(var(--hue), 360));
    --i-chroma: clamp(0, var(--chroma), 100);
    --i-lightness-normalized: clamp(
      0,
      var(--i-lightness-p0) + (-3 * var(--i-lightness-p0) + 3 * var(--i-lightness-p1)) *
        clamp(0, var(--lightness) / 100, 1) +
        (3 * var(--i-lightness-p0) - 6 * var(--i-lightness-p1) + 3 * var(--i-lightness-p2)) *
        pow(clamp(0, var(--lightness) / 100, 1), 2) +
        (
          -1 * var(--i-lightness-p0) + 3 * var(--i-lightness-p1) - 3 * var(--i-lightness-p2) +
            var(--i-lightness-p3)
        ) *
        pow(clamp(0, var(--lightness) / 100, 1), 3),
      1
    );
    --i-lightness-p0: clamp(0, var(--lightness-p0) / 100, 1);
    --i-lightness-p1: clamp(0, var(--lightness-p1) / 100, 1);
    --i-lightness-p2: clamp(0, var(--lightness-p2) / 100, 1);
    --i-lightness-p3: clamp(0, var(--lightness-p3) / 100, 1);
    --i-contrast-direction: clamp(-2, round(var(--contrast-direction)), 2);
    --i-contrast-scaled: calc(
      max(var(--contrast), 0) / (114)
    ); /* 1.14 is the common scale factor */
    --i-contrast-direction-force-lighter: round(
      to-zero,
      calc(1 - min(max(var(--i-contrast-direction) - 2, -1 * (var(--i-contrast-direction) - 2)), 1))
    );
    --i-contrast-direction-prefer-lighter: round(
      to-zero,
      calc(1 - min(max(var(--i-contrast-direction) - 1, -1 * (var(--i-contrast-direction) - 1)), 1))
    );
    --i-contrast-direction-auto: max(
      0,
      round(to-zero, calc(1 - pow(var(--i-contrast-direction), 2)))
    );
    --i-contrast-direction-prefer-darker: round(
      to-zero,
      calc(1 - min(max(var(--i-contrast-direction) + 1, -1 * (var(--i-contrast-direction) + 1)), 1))
    );
    --i-contrast-direction-force-darker: round(
      to-zero,
      calc(1 - min(max(var(--i-contrast-direction) + 2, -1 * (var(--i-contrast-direction) + 2)), 1))
    );
    --i-lightness-lighter: pow(
      pow(var(--i-lightness-normalized), 0.65) + var(--i-contrast-scaled),
      1 / 0.62
    );
    --i-lightness-darker: pow(
      pow(var(--i-lightness-normalized), 0.56) - var(--i-contrast-scaled),
      1 / 0.57
    );
    --i-lightness-darker-exists: round(
      to-zero,
      calc(
        1 -
          max(
            var(--i-lightness-darker) - clamp(0, var(--i-lightness-darker), 1),
            clamp(0, var(--i-lightness-darker), 1) - var(--i-lightness-darker)
          )
      )
    );
    --i-lightness-lighter-exists: round(
      to-zero,
      calc(
        1 -
          max(
            var(--i-lightness-lighter) - clamp(0, var(--i-lightness-lighter), 1),
            clamp(0, var(--i-lightness-lighter), 1) - var(--i-lightness-lighter)
          )
      )
    );
    --i-lightness-fallback: calc(
      var(--lightness-fallback) / max(var(--lightness-fallback), -var(--lightness-fallback))
    );
    --i-lightness: clamp(
      0,
      var(--i-contrast-direction-force-lighter) * var(--i-lightness-darker) +
        var(--i-contrast-direction-prefer-lighter) *
        (
          var(--i-lightness-darker-exists) * var(--i-lightness-darker) +
            (1 - var(--i-lightness-darker-exists)) * var(--i-lightness-lighter)
        ) +
        var(--i-contrast-direction-auto) *
        (
          max(var(--i-lightness-fallback), 0) *
            (
              var(--i-lightness-lighter-exists) + var(--i-lightness-fallback) *
                (1 - var(--i-lightness-darker-exists))
            ) *
            var(--i-lightness-lighter) + -1 * min(var(--i-lightness-fallback), 0) *
            (
              var(--i-lightness-darker-exists) + (1 - var(--i-lightness-fallback)) *
                (1 - var(--i-lightness-lighter-exists))
            ) *
            var(--i-lightness-darker)
        ) +
        var(--i-contrast-direction-prefer-darker) *
        (
          var(--i-lightness-lighter-exists) * var(--i-lightness-lighter) +
            (1 - var(--i-lightness-lighter-exists)) * var(--i-lightness-darker)
        ) +
        var(--i-contrast-direction-force-darker) * var(--i-lightness-lighter),
      1
    );
    --o-color-base: oklch(
      calc(var(--i-lightness-normalized) * 100%) calc(var(--i-chroma) * 1%)
        calc(var(--i-hue) * 1deg)
    );
    --o-color: oklch(
      calc(var(--i-lightness) * 100%) calc(var(--i-chroma) * 1%) calc(var(--i-hue) * 1deg)
    );
  }
}
