@property --radius {
  inherits: true;
  syntax: '*';
}
@property --radius-tl {
  inherits: true;
  syntax: '*';
}
@property --radius-tr {
  inherits: true;
  syntax: '*';
}
@property --radius-br {
  inherits: true;
  syntax: '*';
}
@property --radius-bl {
  inherits: true;
  syntax: '*';
}
@property --o-radius-tl {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --o-radius-tr {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --o-radius-br {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}
@property --o-radius-bl {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}

.corner {
  --o-radius-tl: abs(var(--radius-tl, var(--radius)));
  --o-radius-tr: abs(var(--radius-tr, var(--radius)));
  --o-radius-br: abs(var(--radius-br, var(--radius)));
  --o-radius-bl: abs(var(--radius-bl, var(--radius)));
}
